html {
    background-color: antiquewhite;
    font-size: 62.5%;
}
#root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    height: 100vh;
}

h1 {
    color: goldenrod;
    font-size: 10rem;
}

h2 {
    font-size: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    background: white;
    border-radius: 1rem;
    padding: 3rem;
}

.todos-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todos-list {
    width: 95%;
    list-style-type: none;
    padding: 0;
}

.todo-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.5rem;
    width: 100%;
    border: 0.05rem dotted black;
}

.todo-item .chek-todo-btn {
    position: absolute;
    width: 3rem;
    height: 3rem;
    font-size: 5rem;
    margin-right: 1.5rem;
    z-index: 500;
    border-radius: 100%;
}

.delete-btn {
    position: absolute;
    right: 0.5rem;
    font-size: 3rem;
    z-index: 500;
}

.delete-btn:hover {
    cursor: pointer;
    font-size: 3.1rem;
}

.delete-btn:active {
    font-size: 2.9rem;
}

.todo-item input:hover {
    cursor: pointer;
}

.todo-item:not(:last-child) {
    margin-bottom: 0.5rem;
}

.todo-title,
.update-todo-input,
.updated-icon {
    padding-left: 4rem;
    font-size: 5rem;
    width: 100%;
}

.todo-item.completed .todo-title {
    background-color: rgb(236, 235, 235);
    opacity: 0.2;
    text-decoration: line-through;
}

.create-todo-input {
    border-radius: 0.5rem;
    font-size: 4rem;
    width: 100%;
}

.todos-footer {
    font-size: 3rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.todos-footer button {
    height: 3rem;
    background-color: white;
    border: none;
    border: 0.1rem solid transparent;
    transition: all ease-in 0.3s;
}

.todos-footer button:hover {
    cursor: pointer;
    border: 0.01rem solid gray;
}

.todos-footer button.active {
    border: 0.01rem solid black;
}

.todos-filters {
    height: 100%;
}

.updated-icon {
    position: absolute;
    left: 70%;
}

.login-container,
.registration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.login-container {
    height: 50%;
}

.registration-container {
    height: 70%;
    margin-top: -3rem;
}

.login-container h2 {
    margin-bottom: 2rem;
}
.input {
    width: calc(100% - 2rem);
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}
.name-input {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.validation-error {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: red;
}

.form-button {
    width: calc(100% - 2rem);
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #007bff;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin-top: 1rem;
}
.form-button:hover {
    background-color: #0056b3;
}

.logout-button {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #007bff;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    height: 33%;
}

.logout-button:hover {
    background-color: #0056b3;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.form-label {
    margin-top: 1rem;
}

.gender-radio,
.form-checkbox,
.form-label {
    font-size: 1.5rem;
}
